# VITE_SUPABASE_URL: The URL of your Supabase project.
VITE_SUPABASE_URL="YOUR_SUPABASE_URL"

# VITE_SUPABASE_ANON_KEY: The unprivileged Anon Key for your Supabase project.
VITE_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"

